<h2> Enter a new product </h2>


  <%= form_tag "/client/products", method: :post do %>
  <div>
    Title: <input type="text" name="name"/>
  </div>
  <div>
    Price: <input type="text" name="price"/>
  </div>
  <div>
    URL: <input type="text" name="image_url"/>
  </div>
<div>
  Description: <input type="text" name="description"/>
</div>
<div>
<input type="submit" name="" value="Create Product"/>
</div>
  <% end %>